body {
    font-family: 'Shadows Into Light', cursive;
}


p {
    font-size: 40px;
}


h1 {
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-size: 85px;
}

span {
    font-size: 2.0em;
}